header{
    article{
        @include flexLayout(row, space-between, flex-start);
        width: 100%;
        padding: 0 50px;
        .logo{
            padding-top: 20px;
            width: 25%;
        }
        .gnb_area{
            @include flexLayout(column, flex-start, flex-end);
            .util{
                ul{
                    @include flexLayout(row, flex-end, center);
                    li{
                        padding-top: 15px;
                        margin-right: 35px;
                        &:last-child{
                            margin-right: 0;
                        }
                        a{
                            img{
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }
            nav{
                >ul{
                    position: relative;
                    &.gnb{
                        @include flexLayout(row, flex-end, center);
                        >li{
                            position: relative;
                            height: 55px;
                            &:last-child{
                                margin-right: 20px;
                            }
                            >a{
                                color: #101010;
                                font-size: 18px;
                                font-weight: 700;
                                display: block;
                                padding:19px 25px;
                            }
                            .sub_menu{
                                display: none;
                                width: max-content;
                                min-width: 100%;
                                position: absolute;
                                top: 55px;
                                left: 0;
                                text-align: center;
                                z-index: 99;
                                font-size: 16px;
                                padding: 12px;
                                background: #fff;
                                border-radius: 3px;
                                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;                        
                                li{
                                    padding: 12px;
                                    &:hover{
                                        background: #f7f7f7;
                                        font-weight: 500;
                                        a{
                                            color:$pramary-theme-color;
                                            padding: 15px 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.all_mn_btn{
                        .login{
                            display: none;
                        }
                        .mo_all_btn{
                            display: none;
                        }

                    }
                }
                .all_btn{
                    position: absolute;
                    right: 50px;
                    top: 53px;
                }
            }
            .mo_btn{
                display: none;
            }
        }
        .mo_all_btn{
            display: none;
        }
    }
    .all-menu{
        &.on{
            display: block;
        }
        animation: all .3s;
        display: none;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        background: #fff;
        padding:31px 70px 40px;
        .close{
            position: absolute;
            top: 50px;
            right: 70px;
        }
        .menu_list{
            padding: 120px 50px;
            @include flexLayout(row, space-around, flex-start);
            .part{
                >ul{
                    &:first-child{
                        margin-bottom: 100px;
                    }
                    li{
                        .tit{
                            display: block;
                            position: relative;
                            font-size: 22px;
                            font-weight: 700;
                            margin-bottom: 20px;
                            &::before{
                                position: absolute;
                                content: "";
                                left: 0;
                                width: 100%;
                                height: 2px;
                                background: #101010;
                                top: 40px;
                            }
                        }
                        ul{
                            display: block;
                            font-size: 18px;
                            margin-top: 50px;
                            font-weight: normal;
                            li{
                                display: block;
                                padding: 15px 0;
                                a{
                                    &:hover{
                                        color:$pramary-theme-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .mo_nav{
        display: none;
    }
}
@media screen and (max-width : 1380px) {
header {
    article {
        padding: 0 30px;
        .gnb_area {
            nav {
                >ul {
                    &.gnb {
                        >li {
                            >a {
                                font-size: 16px;
                                padding: 19px 23px;
                            }
                        }
                    }
                }
            }
        }
    }
    .all-menu{
        i{
            right: 30px;
        }
    }
}
}
@media screen and (max-width : 1240px) {
    header {
        article {
            padding:20px;
            .logo{
                padding-top: 0;
            }
            .gnb_area {
                .util{
                    margin-right: 50px;
                }
                nav {
                    ul{
                        &.gnb{
                            display: none;
                        }
                    }
                    .all_btn{
                        top: 16px;
                    }
                }
            }
        }
        .all-menu {
            top: 55px;
            padding: 20px;
            .close{
                top: -20px;
                right: 20px;
            }
        }
    }
}
@media screen and (max-width : 790px) {
    header {
        article {
            padding: 2rem;
            @include flexLayout (row , space-between, center);
            .logo {
                position: static;
                }
            h1{
                width: 50%;
            }
            .gnb_area{
                display: none;
            }
            .mo_all_btn{
                display: block;
            }
        }
        div{
            &.mo_nav{
                &.on{
                    display: block;
                }
                display: none;
                animation: all .3s;
                position: fixed;
                top: 0;
                z-index: 999;
                background: #fff;
                padding: 0;
                height: 100vh;
                >.mo_top {
                    @include flexLayout (row, space-between, flex-end) ;
                    margin-bottom: 1.6rem;
                    padding: 2rem;
                    border-bottom: 1px solid #e0e0e0;
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -16px;
                        width: 100%;
                        height: 15px;
                        background: #f3f3f3;
                    }
                    .mo_util{
                        @include flexLayout (row, flex-start, flex-end);
                        li{
                            margin-right: 4.5rem;
                            position: relative;
                            &::before{
                                position: absolute;
                                content: url(/images/common/mo_right_arrow.svg);
                                right: -15px;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                            &:last-child{
                                margin-right: 0;
                            }
                            &.mo_login{
                                margin-right: 3rem;
                                &::before {
                                    display: none;
                                }
                                a{
                                    font-size: 2.8rem;
                                    font-weight: 700;
                                }
                            }
                            a{
                                font-size: 2.2rem;
                                color: #505050;
                            }
                        }
                    }
                    i {
                        &.mo_close {
                            padding-top: 0;
                        }
                    }
                }
                .favorite {
                    padding: 3rem;
                    padding-bottom: 0;
                    border-bottom: 1px solid #e0e0e0;
                    position: relative;
                    margin-bottom: 1.6rem;
                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -16px;
                        width: 100%;
                        height: 15px;
                        background: #f3f3f3;
                    }
                    .favo_tit{
                        @include flexLayout (row,space-between,center);
                        h4{
                            font-size: 2.6rem;
                        }
                        a{
                            @include flexLayout (row, space-between, center);
                            color: #505050;
                            font-size: 2.2rem;
                            i{
                                margin-left: 1rem;
                                img{
                                    width: 80%;
                                    vertical-align: baseline;
                                }
                            }
                        }
                    }
                    ul{
                        @include flexLayout (row, space-around, center);
                        flex-wrap: wrap;
                        gap: 5rem;
                        padding: 6rem 0 4rem;
                        li{
                            width: 25%;
                            a{
                                @include flexLayout (column, flex-start, center);
                                height: 105px;
                                gap: 20px;
                                span{
                                    font-size: 2rem;
                                    line-height: 1.2;
                                    color: #505050;
                                    text-align: center;
                                }
                            }
                        }
                    }                    
                }
                .mo_menu_list {
                    padding: 1rem 0;
                    height: 44.5rem;
                    overflow-y: scroll;
                    @include scrollbar();
                    .part {
                        @include flexLayout (column,flex-start,flex-start);
                        ul {
                            width: 100%;
                            li {
                                width: 100%;
                                .tit {
                                    @include flexLayout(row,space-between,center);
                                    font-size: 2.2rem;
                                    padding: 4rem 3rem;
                                    img{
                                        transition: all .4s;
                                    }
                                    &.on{
                                        img{
                                            transform: rotate(180deg);
                                        }
                                    }
                                }
                                .mo_sub_menu {
                                    display: none;
                                    background: #fafafa;
                                    li {
                                        a {
                                            display: block;
                                            font-size: 1.8rem;
                                            padding: 2rem 5rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
